html, body{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent{
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.principal{
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("Media/Portada.jpg");
  background-position: center;
  background-size: cover;
}

.note{
  width: 300px;
  height: 300px;
  font-size: 20px;
  transition-duration: 0.5s;
  transform: rotate(45deg);
  background: white;
  opacity: 0;
}

.parent:after{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition-duration: 0.5s;
  
}


.parent:hover .principal{
  transform: scale(2);
}

.parent:hover .note{
  transform: rotate(0deg);
  opacity: 1;
  transform: scale(0.5);
}

.parent:hover:after{
  box-shadow: inset 0 0 0 10px lightblue;
}
